<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DBMS</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div class="pure-g">
    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4">
      <h1>Hello World</h1>
      <p>Will Redirect to <code>/admin<code></p>
    </div>
    <div class="pure-u-1-8"></div>
  </div>
  <script>
    (function(){
      setTimeout(function(){
        window.location.href = '/admin';
      }, 5000);
    })();
  </script>
</body>
</html>